<div class="container">
  <h1 class="post_show__title"><%= @post.title %></h1>
  <h2><%= @post.user&.name %></h2>
  <p><%= @post.content %></p>

  <% heart_state = @post.liked_users.include?(current_user) ? 'heart' : 'heart-empty' %>
  <%= link_to like_toggle_path(@post), method: :post, remote: true do %>
    <i class="icon ion-ios-<%= heart_state %>" id="heart"></i>
  <% end %>

  <%= form_for(@comment, url: post_comments_path(@post), remote: true) do |f| %>
    <%= f.label :body, "댓글내용" %><br>
    <%= f.text_area :body %><br>

    <%= f.submit "제출", id: 'comment-create-button' %>
  <% end %>

  <div id="comment-list">
    <% @comments. each do |comment| %>
      <%= render comment %>
    <% end %>
  </div>
</div>

<%= stylesheet_link_tag 'post_show' %>
